#profileEditorIcon {
    font-size: 6em;
    padding-left: 10px;
    padding-bottom: 10px;
    color: gray;
}
.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}
/*.wd-flex-row-container div h2 {*/
/*    padding-left: 60px;*/
/*    padding-right: 60px;*/
/*    padding-top: 0px;*/
/*    padding-top: 0px;*/
/*}*/
/*.wd-flex-row-container div input {*/
/*    margin-left: 10px;*/
/*    margin-right: 10px;*/
/*}*/
